$color-pink1: rgba(112, 15, 60, 1);
$color-pink2: rgba(166, 9, 106, 1);
$color-pink3: rgba(222, 4, 91, 1);
$color-pink4: rgba(254, 153, 151, 1);
$color-pink5: rgba(248, 200, 196, 1);
$color-white: rgb(255, 255, 255, 1);
$color-gray-light: rgba(0,0,0, 0.2);
$color-gray-dark: rgba(0,0,0, 0.8);




