.about_us_main {
  @include main_title;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.about_us_text {
  @include sentences;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 390px ) {
  .about_us_text {
    font-size: 16px;
    margin: 0 20px;
  }
  .about_us_main {
    font-size: 22px;

  }
}