.about_us_main {
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about_us_text {
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  padding-top: 20px;
}

