.cakes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.cake_image {
  width: 400px;
  border-radius: 50%;
  box-shadow: 6px 6px 17px 0px rgba(66, 68, 90, 1);
}

.cake_text {
  padding-left: 100px;
}

.cake_title {
  @include main_title;
  letter-spacing: 3px;
}

.cake_sentence {
  @include sentences;
  padding: 20px 0 40px 0;
}