.contact_container {
  padding: 100px 50px;
  display: flex;
  justify-content: space-between;

}

.contact_title {
  @include main_title;
  padding-bottom: 20px;
}

.contact_title_second {
  @include main_title;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact_text {
  @include sentences;
  padding: 5px 0;
}

.contact_button {
  margin-top: 40px;
}