.contact_container {
  padding: 100px 50px;
  display: flex;
  justify-content: space-between;
}

.contact_title {
  @include main_title;
  padding-bottom: 20px;
}

.contact_title_second {
  @include main_title;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact_text {
  @include sentences;
  padding: 5px 0;
}

@media (min-width: 391px ) {
  .small_map {
    display: none;
  }
}

@media (max-width: 390px ) {
  .contact_container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .big_map {
    display: none;
  }
  .contact_title {
    font-size: 22px;
    padding-top: 20px;
  }
  .contact_title_second {
    font-size: 22px;
  }
  .contact_text {
    font-size: 18px;
  }
  .small_map {
   display: flex;
  }
}