.header {
  height: 80px;
  box-shadow: 0px 0px 33px -11px rgba(0, 0, 0, 0.5);
}

.header_container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav li {
  float: left;
  margin: 0 50px;
}

.header_nav_link {
  font-size: 22px;
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: 600;
  padding: 20px 40px;
  color: $color-pink3;
  border-bottom: 4px solid transparent;
}

.header_nav_link:hover {
  border-color: $color-pink3;
  transition: 1s;
  color: black;
}

@media (max-width: 390px ) {
  .header {
    display: none;
  }
}

