.offer_text {
  @include sentences;
  text-align: center;
}

#loancal {
  width: 345px;
  height: 420px;
  background-color: $color-pink6;
  color: $color-pink3;
  padding: 10px;
  margin: 100px auto;
}

.offer_cal {
  @include main_title;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

.input{
  margin-left: 30px;
  margin-right: 30px;
}
.cal_text{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Lato";
  font-size: 20px;
}
input{
  width: 100%;
  height: 33px;
}

.cal_payment {
  font-family: "Lato";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: $color-white;
  padding-top: 25px;

}