.opening {
  padding: 80px 0;
}

.company {
  font-size: 100px;
  color: black;
  font-family: "Shadows Into Light";
}

.sentence {
  font-family: "Lato";
  font-size: 30px;
  padding-top: 80px;
}

.opening_single {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  width: 450px;

}