.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe_box {
  width: 80%;
  border-radius: 10px;
  display: flex;
  margin: 30px;
  padding: 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 3px solid $color-pink5;
}

.recipe_title {
  @include main_title;
  letter-spacing: 3px;
}

.recipe_text {
  @include sentences;
  padding-top: 20px;
  padding-bottom: 20px;
}

