@import "development/scss/reset/reset";
@import "settings/index";
@import "settings/colors";
@import "settings/fonts";

@import "elements/navi";
@import "elements/opening";
@import "elements/aboutUs";
@import "elements/carousel";
@import "elements/recipe";
@import "elements/cakes";
@import "elements/footer";

@import "elements/button";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}